#container {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: space-evenly;
}

.grid {
  width: 4px;
  height: 4px;
}

div {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}