#container {
  display: flex;
  width: 108px;
  height: 108px;
  flex-wrap: wrap;
}

.grid {
  width: 25px;
  height: 25px;
}

div {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.filled {
  background-color: black;
}